/* Definimos los colores principales en :root */
:root {
    /* --color-fondo: #F4F4F6;         
    --color-oscuro: #3A3F47;        
    --color-claro: #FFFFFF;         
    --color-acento: #97C3D8;        
    --color-destacado: #D9A07C;     
    --color-texto: #1E1E1E;          */

    --color-fondo: #0d0d0d;           
    --color-oscuro: #c1fc36;         
    --color-claro: #1a1a1a;           
    --color-acento: #00ffc3;          
    --color-destacado: #bfff00;      
    --color-texto: #f2f2f2;

}


/* Reset básico para eliminar margenes y paddings predeterminados */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    background-image: url(../assets/images/bd.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}